header {
    height: 50px;
    background: cornflowerblue;
    color: black;
    font-family: var(--DynaPuff);
    font-style: italic;
    font-weight: bold;
    font-size: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
