header {
    height: 63px;
    background: var(--terciary);
    color: var(--white);
    font-family: var(--DynaPuff);
    font-style: italic;
    font-weight: bold;
    font-size: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
