.sideMenu {
    height: 100%;
    width: 10%;
    background: aquamarine;

    display: flex;
    flex-direction: column;

    justify-content: center;
    
    font-family: var(--DynaPuff);
    font-size: 20px;
}

.navBar {
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -100px;
}

.link {
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}