@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');

.main {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

a {
    all: unset;
}